{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container py-4"><p><h3>Python FastAPI Send Email using SMTP</h3></p>
    <form id="contactForm" action="/submit" method="post">
      <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" name="name" id="name" type="text" placeholder="Name" />
      </div>

      <div class="mb-3">
        <label class="form-label" for="emailAddress">Email Address</label>
        <input class="form-control" name="emailAddress" id="emailAddress" type="email" placeholder="Email Address" />
      </div>

      <div class="mb-3">
        <label class="form-label" for="message">Message</label>
        <textarea class="form-control" name="message" id="message" type="text" placeholder="Message" style="height: 10rem;"></textarea>
      </div>

      <div class="d-grid">
        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}